- name: Create Disk Partition
  with_items: ansible_devices.keys()
  shell: echo -e "n\np\n1\n\n\nw" | fdisk /dev/{{ item }} creates=/dev/{{ item }}1
  when: item != 'sda'
  sudo: True

- name: Create File System
  with_items: ansible_devices.keys()
  shell: mkfs.ext4 /dev/{{ item }}1 && if [[ $? == 0 ]]; then touch /dev/{{ item }}.ext4; fi creates=/dev/{{ item }}.ext4
  when: item != 'sda'
  sudo: True

- name: Add Filesystem Table Entry
  with_items: ansible_devices.keys()
  lineinfile:
    dest=/etc/fstab
    line="/dev/{{ item }}1  /dfs/{{ item }}  ext4  noatime  0 0"
    regexp="^/dev/{{ item }}1+"
    owner=root
    state=present
  when: item != 'sda'
  sudo: True

- name: Mount DFS Directory
  with_items: ansible_devices.keys()
  shell: mkdir -p /dfs/{{ item }} && mount /dfs/{{ item }} creates=/dfs/{{ item }}
  when: item != 'sda'
  sudo: True
 
- name: Disable IPv6
  lineinfile:
    dest=/etc/sysctl.conf
    line="net.ipv6.conf.all.disable_ipv6=1"
    regexp="^net.\ipv6\.conf\.all\.disable_ipv6=+"
    insertafter="EOF"
    owner=root
    state=present
  notify:
    - Refresh Kernel
    - Restart Networking
  sudo: True

- name: Disable IPv6 (default)
  lineinfile:
    dest=/etc/sysctl.conf
    line="net.ipv6.conf.default.disable_ipv6=1"
    regexp="^net.\ipv6\.conf\.default\.disable_ipv6=+"
    insertafter="EOF"
    owner=root
    state=present
  notify:
    - Refresh Kernel
    - Restart Networking
  sudo: True

- name: Configure VM Swappiness
  lineinfile: 
    dest=/etc/sysctl.conf
    line="vm.swappiness=0"
    regexp="^vm\.swappiness=+"
    owner=root
    state=present
  notify:
    - Refresh Kernel
  sudo: True

- name: Clean Hosts File (local binding)
  lineinfile:
    dest=/etc/hosts
    line="127.0.0.1  localhost"
    regexp="^127\.0\.0\.1+"
    backrefs="yes"
    owner=root
    state=present
  sudo: True

- name: Clean Hosts File (IPv6 binding)
  lineinfile:
    dest=/etc/hosts
    regexp="^\:\:1+"
    backrefs="yes"
    owner=root
    state=absent
  sudo: True
