- name: Create Disk Partition
  shell: echo -e "n\np\n1\n\n\nw" | fdisk /dev/sdb creates=/dev/sdb1
  sudo: True

- name: Create File System
  shell: mkfs.ext4 /dev/sdb1 && if [[ $? == 0 ]]; then touch /dev/sdb.ext4; fi creates=/dev/sdb.ext4
  sudo: True

- name: Add Filesystem Table Entry
  lineinfile:
    dest=/etc/fstab
    line="/dev/sdb1  /dfs  ext4  noatime  0 0"
    regexp="^/dev/sdb1+"
    owner=root
    state=present
  sudo: True

- name: Mount DFS Directory
  shell: mkdir /dfs && mount /dfs creates=/dfs
  sudo: True
 
- name: Disable IPv6
  lineinfile:
    dest=/etc/sysctl.conf
    line="net.ipv6.conf.all.disable_ipv6=1"
    regexp="^net.\ipv6\.conf\.all\.disable_ipv6=+"
    insertafter="EOF"
    owner=root
    state=present
  notify:
    - Refresh Kernel
    - Restart Networking
  sudo: True

- name: Disable IPv6 (default)
  lineinfile:
    dest=/etc/sysctl.conf
    line="net.ipv6.conf.default.disable_ipv6=1"
    regexp="^net.\ipv6\.conf\.default\.disable_ipv6=+"
    insertafter="EOF"
    owner=root
    state=present
  notify:
    - Refresh Kernel
    - Restart Networking
  sudo: True

- name: Configure VM Swappiness
  lineinfile: 
    dest=/etc/sysctl.conf
    line="vm.swappiness=0"
    regexp="^vm\.swappiness=+"
    owner=root
    state=present
  notify:
    - Refresh Kernel
  sudo: True

- name: Clean Hosts File (local binding)
  lineinfile:
    dest=/etc/hosts
    line="127.0.0.1  localhost"
    regexp="^127\.0\.0\.1+"
    backrefs="yes"
    owner=root
    state=present
  sudo: True

- name: Clean Hosts File (IPv6 binding)
  lineinfile:
    dest=/etc/hosts
    regexp="^\:\:1+"
    backrefs="yes"
    owner=root
    state=absent
  sudo: True
