install
cdrom
lang en_US.UTF-8
keyboard uk
network --onboot yes --device eth0 --bootproto dhcp --noipv6
rootpw --plaintext vagrant
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone UTC
text
skipx
zerombr

clearpart --all --initlabel
part /boot  --fstype ext4 --size 100 --ondisk sda --asprimary
part /      --fstype ext4 --fsoptions="noatime" --size 1 --grow --ondisk sda --asprimary  
part swap   --size 4096

bootloader --location=mbr --driveorder=sda --append="crashkernel=auto rhgb quiet noipv6"

auth  --useshadow  --enablemd5
firstboot --disabled
reboot

%packages
@Base
@Core
@Development Tools
kernel-devel
kernel-headers
%end

%post --log=/root/post.log
# update root certs
echo -n "Getting root certs..."
curl -o /etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem
echo "$?"

# vagrant user
/usr/bin/yum -y install sudo
/usr/sbin/groupadd -g 501 vagrant
/usr/sbin/useradd vagrant -u 501 -g vagrant -G wheel
echo "vagrant" | passwd --stdin vagrant
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant

# clean up network
echo -n "Cleaning network config..."
rm -f /etc/udev/rules.d/70-persistent-net.rules
sed -i 's/^HWADDR.*$//' /etc/sysconfig/network-scripts/ifcfg-eth0
sed -i 's/^UUID.*$//' /etc/sysconfig/network-scripts/ifcfg-eth0
echo "done"

# fix slow dns
echo -n "Network and SSH config"
echo "UseDNS no" >> /etc/ssh/sshd_config
echo "GSSAPIAuthentication no" >> /etc/ssh/sshd_config
echo 'RES_OPTIONS="single-request-reopen"' >> /etc/sysconfig/network
echo "done

%end
